@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Joti+One&family=Knewave&family=Princess+Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Joti+One&family=Knewave&display=swap');

body {
    font-family: "IBM Plex Serif", serif;
    font-size: 22px;
    font-weight: 200;
    color: #fff;
    background-color: #1c2229;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


h1 {
    font-family: "Princess Sofia", cursive;
    font-weight: 400;
    font-size: 32px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

h2 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 12px;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

#inserirtexto {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: 3px solid #aaa;
    border-radius: 8px;
    font-size: 1rem;
}


#btninserir,
input[type="button"] {
    background: linear-gradient(45deg, #4f83cc, #3b6dac);
    color: white;
    border-radius: 10px;
    padding: 10px 18px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

#divurgentes,
#divnUrgentes {
    width: 700px;
    min-height: 250px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}



#divurgentes {
    background-color: rgba(255, 90, 90, 0.2);
    border: 3px solid #ff5757;
}

#divnUrgentes {
    background-color: rgba(255, 235, 59, 0.2);
    border: 3px solid #ffd633;
}

#urgentes,
#nUrgentes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.nota {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    padding: 14px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
}


.btnRemover {
    background-color: rgba(68, 68, 68, 0.8);
    color: white;
    border-radius: 8px;
    padding: 5px 12px;
    cursor: pointer;
    width: 10px;
}